version: '3.8'

services:
  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=drcrypt

  redis:
    image: redis:7.0-alpine
    ports:
      - "6379:6379"

volumes:
  mongo_data:
